@section Title{Player lookup}
@section AddToHead {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/player/index.js")"></script>
}
<form>
    <input type="text" id="nameInput"><br>
    <select id="lookupInput">
        <option selected="selected" value="Reference">Reference</option>
        <option value="Investigate">Investigate</option>
    </select><br>
    <button id="updateBtn">Update</button>
</form>
<canvas id="distributionCanvas" width="600" height="400"></canvas>
<p>Below are the details of all games in the distribution. The games are sorted from most engine-like to least engine-like. 
   All squares in the table refer to a move in the game. Blue means that the move is not the engine recommendation, red means that it is, grey means that it's the only available move.</p>
<p>Note that one or a few very engine-like games do not necessarily mean that the player is cheating. 
    The game might be a rather trivial forced win for the most part. 
    <strong>Always look through a game manually if you want to use it as cheating evidence.</strong></p>
<div id="gameDetails"></div>